<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjK1sLXI1iWlQN3QP0cwVSAJ4OpZiijb0</string>
	<key>GCM_SENDER_ID</key>
	<string>650795143989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testproject2</string>
	<key>PROJECT_ID</key>
	<string>hello-e528d</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-e528d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650795143989:ios:61a9f8fc7eb4f75da0327c</string>
</dict>
</plist>